* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('https://i.pinimg.com/564x/6f/79/8d/6f798d99ef4b1e488532d63969d7a51f.jpg');
    background-repeat: no-repeat;
    color: #333; 
    background-size: cover;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.reservation {
    padding: 50px 0;
    text-align: center;
}

.reservation form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation h2 {
    margin-bottom: 20px;
}

.reservation input[type="text"],
.reservation input[type="email"],
.reservation textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.reservation textarea {
    height: 100px;
}

.reservation button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation button:hover {
    background-color: #555;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
header h1{
    font-family: "Sofia", sans-serif;
    font-size: 45px;
}
.container h2{
    font-family: "Sofia", sans-serif;
    font-size: 45px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
